{% extends 'base.html' %}
{% load humanize %}
{% block con %}
<div class="text-center" style="margin: 5rem 7rem;">
    {% if user.is_authenticated %}
    <a href = "{% url 'book:create' %}" style="float: right; margin: 0.5rem;"><button class="btn btn-outline-primary">Create</button></a>
    <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Memo</th>
            <th>Money</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if books %}
            {% for b in books %}
              <tr>
                <td>{{ b.date }}</td>
                <td>{{ b.memo }}</td>
                <td>{{ b.money|intcomma }}원</td>
                <td>
                  <a href="{% url 'book:detail' pk=b.pk %}"><button class="btn btn-outline-primary">Detail</button></a>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    {% else %}
        <h1>Please Sign up and Sign in</h1>
    {% endif %}
</div>
{% endblock %}